# Dependency Directories
/vendor/
/vendor
node_modules/
/node_modules

# Logs and debug
*.log
npm-debug.log
yarn-error.log

# Env files
.env
.env.*
!.env.example
.env.backup
.env.production

# Storage
storage/*.key
/storage/*.key
/storage/pail
public/storage
/public/storage
public_html/storage

# Hot and Build
public/hot
/public/hot
public_html/hot
/public/build

# IDE and OS
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Caches and Tools
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
auth.json
/auth.json
Homestead.yaml
Homestead.json
/.vagrant
bootstrap/compiled.php
app/storage/
